// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2019 Levin Du <djw@t-chip.com.cn>
 */

#include "rk3399-u-boot.dtsi"
#include "rk3399-sdram-lpddr4-100.dtsi"

/ {
	aliases {
		spi0 = &spi1;
	};

	chosen {
		u-boot,spl-boot-order = "same-as-spl", &spi_flash, &sdhci, &sdmmc;
	};

	config {
		u-boot,spl-payload-offset = <0x40000>; /* @ 256KB */
	};

	vcc_hub_en: vcc_hub_en-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hub_rst>;
		regulator-name = "vcc_hub_en";
		regulator-always-on;
	};

	vcc3v3_pcie: vcc3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		enable-active-high;
		gpio = <&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_pcie_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12v>;
	};
};

/*
 * should be placed inside mp8859, but not until mp8859 has
 * its own dt-binding.
 */
&dc_12v {
	compatible = "regulator-fixed";
	regulator-name = "dc_12v";
	regulator-always-on;
	regulator-boot-on;
	regulator-min-microvolt = <12000000>;
	regulator-max-microvolt = <12000000>;
	vin-supply = <&vcc_vbus_typec0>;
};

&pcie_phy {
	status = "okay";
};

&pcie0 {
	ep-gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
	num-lanes = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_perst>;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	vpcie1v8-supply = <&vcc1v8_pmu>;
	vpcie0v9-supply = <&vcca_0v9>;
	status = "okay";
};

&pinctrl {
	pcie {
		vcc3v3_pcie_en: vcc3v3-pcie-en {
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie_perst: pcie-perst {
			rockchip,pins = <4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&spi1 {
	spi_flash: flash@0 {
		u-boot,dm-pre-reloc;
	};
};

&vdd_log {
	regulator-min-microvolt = <430000>;
	regulator-init-microvolt = <950000>;
};

&vcc5v0_host {
	regulator-always-on;
};

&vcc_sys {
	regulator-always-on;
};

&vcc_sdio {
	regulator-always-on;
};
